[Unit]
Description=PCAP Server for the PCAP aggregation
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
StateDirectory=osmocom
WorkingDirectory=%S/osmocom
ExecStart=/usr/bin/osmo-pcap-server -c /etc/osmocom/osmo-pcap-server.cfg
RestartSec=2

[Install]
WantedBy=multi-user.target

