*.o
*.a
.deps
Makefile
Makefile.in
*.*~
*.sw?
*.pyc

#configure
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
compile

osmopcapconfig.h*

# git-version-gen magic
.tarball-version
.version


# apps
src/osmo-pcap-client
src/osmo-pcap-server

# tests
tests/atconfig
tests/package.m4
tests/testsuite
tests/testsuite.log

contrib/osmo-pcap.spec

# manuals
doc/manuals/generated/
doc/manuals/vty/osmo-pcap-*-vty-reference.pdf
doc/manuals/vty/osmo-pcap-*-vty-reference.xml
doc/manuals/vty/osmo-pcap-*-vty-reference.xml.inc.gen
doc/manuals/vty/osmo-pcap-*-vty-reference.xml.inc.merged
doc/manuals/common
doc/manuals/build
