Source: osmo-pcap
Section: net
Priority: extra
Maintainer: Osmocom team <openbsc@lists.osmocom.org>
Build-Depends:	debhelper (>= 10),
		dh-autoreconf,
		autotools-dev,
		libpcap0.8-dev,
		pkg-config,
		libosmocore-dev (>= 1.7.0),
		libgnutls28-dev,
		libzmq3-dev (>= 3.2.2)
Standards-Version: 3.9.1
Homepage: https://osmocom.org/projects/osmo-pcap
Vcs-Git: https://gitea.osmocom.org/osmocom/osmo-pcap
Vcs-Browser: https://gitea.osmocom.org/osmocom/osmo-pcap

Package: osmo-pcap-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Run osmo-pcap-client locally and send traces to a different system.

Package: osmo-pcap-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Collect traces from other systems.

Package: osmo-pcap-client-dbg
Architecture: any
Depends: osmo-pcap-client (= ${binary:Version})
Description: Debug symbols of osmo-pcap-client-dbg

Package: osmo-pcap-server-dbg
Architecture: any
Depends: osmo-pcap-server (= ${binary:Version})
Description: Debug symbols of osmo-pcap-server-dbg
